body {
  background-color: rgb(255, 166, 0);
  color: rgb(122, 34, 203);
}
section {
  margin-top: auto;
  margin-bottom: auto;
}

#About {
  text-align: left;
  background-color: lightblue;
  padding: 1em;
  border: 1px solid black;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  border-radius: 0.8em;
  padding: 0.5em;
  width: 20em;
}

.one-experience {
  display: flex;
  flex-direction: column;
}

.date {
  font-weight: bold;
  margin-right: 1em;
  min-width: fit-content;
}

#name {
  font-family: fantasy;
  font-size: 3rem;
  padding-top: 0.5;
  background-color: aqua;
  text-align: center;
  border-radius: 10%;
}
#name-container {
  padding-top: 2ch;
  display: flex;
  justify-content: center;
  margin-top: 6em; /* mobile first */
}

section, #name-container{
  margin-left: 1em;
}

h2 {
  text-align: left;
  font-size: 3em;
  font-weight: bold;
  color: #43b31afb;
}

#os-img {
  position: fixed; /* Fixed postion to cover the entire page*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Move the image below other content */
  object-fit: cover; /* Cover the wntire space with the  */
  opacity: 0.9; /* Adjust iamge opacity as needed */
}

#Connect {
  font-style: italic;
  background-color: rgb(197, 173, 230);
  padding: 20px;
  border: 1px solid black;
}
#Connect ul {
  display: flex;
  flex-direction: row;
  gap: 5em;
  list-style: none;
}

#Connect ul li {
  width: auto;
  height: 2em;
  background-color: aqua;
  border-radius: 10%;
  margin: 0em;
  padding: 1em;
}
#navigation {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: rgb(255, 166, 0);
  opacity: 100%;
  width: 100%;
}

#navigation ul {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding-bottom: 0;
  list-style: none;
}

#profile-picture {
  border-radius: 50%;
  margin: 1em;
  width: 30vw;
  border-color: rgb(244, 60, 40);
  border-width: 3dvi;
  border-style: inset;
}

#git-img {
  height: 30px;
}

#link-img {
  height: 30px;
}

#About,
#Experience,
#Ekills,
#Projects,
#Connect {
  scroll-margin-top: 9em;
}

@media only screen and (min-width: 600px) {
  

}